//SASS VARIABLES
$links-bg: #EEE;
$links-bdb: #CCC;
$ul-bd: #999;
$white-bg: #FFF;
$links-c: #000;
$links-c-hover: #B8860B;
$links-a-hover-bg: #666;
$links-a-hover-bdb: #666;
$links-a-hover-c: white;
$links-a-hover-ts: #333;
$background-c: #FFF;
$background-a-c: #FFF;
$background-a-hover: #4169E1;
$background-a-hover-c: #FFD700;
$background-black:#212121;
$first-br:#CCD;
$first-c:#B8860B;
